<footer>
	<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}"><b>{{ .Site.Title }}</b></a>.
	{{- range .Site.Menus.footer }}
	<a href="{{ .URL }}"><b>{{ .Name }}</b></a>.
        {{- end }}
	</p>
	<table>
	<tr align=center>
	<td align=center><a href="https://frsp.xyz/">&lt;&lt;<br>Frederick St. Peter's site</a></td><td><a href="https://emreed.net/LowTech_Directory.html"><img src="https://emreed.net/LTW.bmp"></a></td><td><a href="https://hyena.network/geocity/">&gt;&gt;<br>Hyena Network</a></td>
	</tr>
	</table>
</footer>
